PORT=5050
HOST=127.0.0.1
VENDOR_DB_PATH=./data/vendor-licenses.db
VENDOR_ISSUER=ElHegazi-Licensing
VENDOR_ADMIN_API_KEY=change_me_admin
VENDOR_APP_API_KEY=change_me_app
VENDOR_PRIVATE_KEY_PEM=
VENDOR_PUBLIC_KEY_PEM=
ACTIVATION_REFRESH_HOURS=24
